<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
      src="https://api-maps.yandex.ru/2.1/?apikey=0f49b43b-0255-477a-9822-b9d1968c735d&lang=en_RU"
      type="text/javascript"
    ></script>
    <title>LoftSchool Yandex GeoReviews</title>
</head>
<body>
    <div class="container">
        <div class="maps" id="maps"></div>
    </div>
    <div class="logo__btm">
      <img class="logo__img" src="/src/img/logo--bottom.png" alt="" />
    </div>
    <div class="create"></div>
</body>
</html>